fastapi
uvicorn
langgraph
langchain
langchain-openai
langchain-ollama
langchain-google-genai
langchain-community
python-dotenv
tavily-python
pypdf
python-docx
faiss-cpu
sentence-transformers
chromadb
neo4j
playwright
arxiv
wikipedia
python-multipart
Pillow==11.x.x